/*基本重置样式*/
div,
h1,
h2,
h3,
h4,
h5,
p,
ul,
li,
ol,
dl,
dt,
dd,
table,
tr,
td,
form,
input,
textarea,
img,
b,
a,
span,
body {
    margin: 0;
    padding: 0;
}
html {
    -webkit-text-size-adjust: none;
    font-family: "微软雅黑";
}
body {
    background-color: #fff;
    width: 100%;
    height: 100%;
    min-width: 1000px;
}
a,
a:active,
a:link,
a:visited,
a:focus,
a:hover {
    text-decoration: none;
}
body {
    min-width: 1001px;
    background: rgb(246, 247, 249);
}
img {
    border: none;
    border: 0;
}
input,
textarea {
    border: none;
    resize: none;
    outline: none;
    border: 0;
}
i,
em {
    font-style: normal;
}
:-moz-placeholder {
    color: #666;
}

::-moz-placeholder {
    color: #666;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #666;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #666;
}
input:focus {
    outline: none;
    border:0;

}
ul,
li {
    list-style-type: none;
}
table,
tr,
td {
    border: none;
    border: 0;
}
a {
    cursor: pointer;
}


.bg {
    width: 300px;
    height: 300px;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/icons.png');
    display: block;
    position: absolute;

}
.parentBg {
    display: block;
    background-image: url(../../images/icons.png);
    background-repeat: no-repeat;
    position: absolute;
    _background-image: none;
    overflow: hidden;
}
.fl {
    float: left;
}

/*表单样式-text*/
.com-biaodan{
    display: block; 
    font-size: 0;
    height: 34px;
    position: relative;
    line-height: 34px;
}
.com-biaodan .biaodan-name{
    display: block;
    color: #333333;
    font-size: 14px;
    float: left;
}
.com-biaodan input{
    border: 1px solid #cecece;
    width: 148px;
    height: 34px;
    font-size: 14px;
    color: #191919;
    background-color: #fff;
    padding-left: 10px;
    position: relative;
    line-height: 34px;
    padding-right: 20px;
}
.com-biaodan input.down{
    width: 180px;
    height: 34px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}   
.com-biaodan input.textDown{
    width: 148px;
    height: 34px;
}
.down-ul,.tree-down-ul{
    display: none;
    width: 178px;
    border: 1px solid #cecece;
    border-top: none;
    position: absolute;
    right: 0;
    top: 34px;
    background-color: #fff;
    z-index: 2;
    overflow: auto;
    max-height: 170px;
    _height: 170px;
    -webkit-max-height: 170px; 
}
.down-ul li p{
    width: 85%;
    text-align: left;
    font-size: 12px;
    height: 34px;
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
.down-ul li.hover{
    background-color: #e5f7ff;
    cursor: pointer;
}
.down-ul li.hover p{
    color: #333333;
}

/*下拉树*/
.tree-down-ul .hidden-ul{
    display: none;
}
.tree-down-ul li p{
    text-align: left;
    height: 20px;
    font-size: 12px;
    height: 36px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
.tree-down-ul a{
    color: #333333;
    margin-left: 10px;
}
.tree-down-ul li p:hover{
    background-color:#e5f7ff; 
}
.tree-down-ul li p:hover a{
    color:#333333;
}
/*树形列表*/
.tree-ul .hidden-ul{
    display: none;
}
.tree-ul a{
    color: #333333;
}
.tree-ul li p.hover a{
    color:#e5f7ff;
}
.icon-down{
    width: 14px;
    height: 8px;
    background-position: -131px 0;
    top: 13px;
    right: 5px;
    z-index: 11;
}
.icon-down i{
    left: -131px;
    top:0;
}
